# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

#trigger:
#- master

pool:
  vmImage: 'windows-latest'

name: '$(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)_$(Rev:.r)'

variables:
  System.Debug: true
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  version.Major: '1'
  version.Minor: '52'
  version.Third: '$(format('{0:yy}', pipeline.startTime)'
  version.Counter: '$[counter(format('{0:yyyyMMdd}', pipeline.startTime), 0)]'
  versionNumber: '$(version.Major).$(version.Minor).$(version.Third).$(version.Counter)'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  displayName: 'NuGet Restore'
  inputs:
    restoreSolution: '$(solution)'

- task: richardfennellBM.BM-VSTS-Versioning-Task-DEV.Version-Assemblies-Task.VersionAssemblies@2
  displayName: 'Version Assemblies'
  inputs:
    Path: '$(Build.SourcesDirectory)'
    InjectVersion: true
    FilenamePattern: 'AssemblyInfo.*'
    OutputVersion: 'OutputedVersion'
    VersionNumber: '$(versionNumber)'


- task: VSBuild@1
  displayName: 'Build Solutions'
  inputs:
    solution: '$(solution)'
    msbuildArgs: '/p:DeployOnBuild=true;PublishProfile=Release'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: richardfennellBM.BM-VSTS-Versioning-Task-DEV.Version-Dacpac-Task.VersionDacpac@1
  displayName: 'Version Dacpac files'
  inputs:
    ToolPath: 'C:\Program Files\Microsoft SQL Server\140\DAC\bin\'

- task: VSTest@2
  displayName: 'Test Assemblies'
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
    testAssembly: '**\$(BuildConfiguration)\*.unittests.dll;-:**\obj\**'
    codeCoverageEnabled: true

- task: PublishSymbols@1
  displayName: 'Publish symbols'
  inputs:
    SearchPattern: '**\bin\**\*.pdb'
  continueOnError: true

- task: CopyFiles@1
  displayName: 'Copy Files to: $(build.artifactstagingdirectory)'
  inputs:
    SourceFolder: '$(build.sourcesdirectory)'
    Contents: |
     **\*.codedui\bin\$(BuildConfiguration)\**
     **\*.integrationtests\bin\$(BuildConfiguration)\**
     **\*.seleniumtests\bin\$(BuildConfiguration)\**
     **\_publish\**
     **\*.dacpac
     **\ReleaseNotesTemplate.md
    TargetFolder: '$(build.artifactstagingdirectory)'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
  inputs:
    PathtoPublish: '$(build.artifactstagingdirectory)'
