trigger: 

  branches:
    include: [ main ] # branch names which will trigger a build

pr: # will trigger on PR
  branches:
    include: [ main ] # branch names which will trigger a build

name: $(Build.DefinitionName)_$(GitVersion.FullSemVer)

variables:
  System.Debug: true
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

stages:
  - stage: 'Build_Packages'
    jobs:
      - job: 'Version_Build_and_Test'
        pool:
          vmImage: 'windows-latest'

        steps:
        - task: GitVersion@5
          inputs:
            versionSpec: '5.x'
            useConfigFile: true
            configFilePath: '$(System.DefaultWorkingDirectory)/GitVersion.yml'

        - task: NuGetToolInstaller@1

        - task: NuGetCommand@2
          displayName: 'NuGet Restore'
          inputs:
            restoreSolution: '../**/*.sln'

      
        - task: richardfennellBM.BM-VSTS-Versioning-Task-DEV.Version-Assemblies-Task.VersionAssemblies@2
          displayName: 'Version Assemblies'
          inputs:
            Path: '$(Build.SourcesDirectory)'
            InjectVersion: true
            FilenamePattern: 'AssemblyInfo.*'
            OutputVersion: 'OutputedVersion'
            VersionNumber: '$(GitVersion.AssemblySemVer)'

        - task: richardfennellBM.BM-VSTS-Versioning-Task-DEV.Version-Dacpac-Task.VersionDacpac@2
          displayName: 'Version Dacpac files'
          inputs:
            ToolPath: 'C:\Program Files\Microsoft SQL Server\140\DAC\bin\'
            Path: '$(Build.SourcesDirectory)'
            VersionNumber: '$(GitVersion.AssemblySemVer)'
            InjectVersion: true
            OutputVersion: 'OutputedVersion'

        - task: richardfennellBM.BM-VSTS-Versioning-Task-DEV.Version-JSONFile-Task.VersionJSONFile@2
          displayName: 'Version ARM Templates'
          inputs:
            Path: '$(Build.SourcesDirectory)'
            InjectVersion: true
            OutputVersion: 'OutputedVersion'
            VersionNumber: '$(GitVersion.AssemblySemVer)'
            FilenamePattern: azuredeploy.json
            Field: contentVersion

        - task: richardfennellBM.BM-VSTS-Versioning-Task-DEV.Version-JSONFile-Task.VersionJSONFile@1
          displayName: 'Version ARM JSON File'
          inputs:
            versionForJSONFileFormat: '{1}.{2}.{3}.(4}'
            FilenamePattern: WebSiteSQLDatabase.json
            Field: contentVersion
            InjectVersion: true
            VersionNumber: '$(GitVersion.AssemblySemVer)'

        - task: SonarCloudPrepare@1
          inputs:
            SonarCloud: 'SonarCloud'
            organization: 'blackmarblelabs'
            scannerMode: 'MSBuild'
            projectKey: 'blackmarblelabs_LivingTheDream'
            projectName: 'LivingTheDream'
            projectVersion: '$(GitVersion.Major).$(GitVersion.Minor)'
            extraProperties: |
              sonar.cs.vscoveragexml.reportsPaths=$(System.DefaultWorkingDirectory)/**/*.coveragexml
              sonar.cs.vstest.reportsPaths=$(System.DefaultWorkingDirectory)/**/*.trx

        - task: VSBuild@1
          displayName: 'Build ARM Solution'
          inputs:
            solution: 'ARM/**/*.sln'
            msbuildArgs: ''
            platform: '$(buildPlatform)'
            configuration: '$(buildConfiguration)'

        - task: VSBuild@1
          displayName: 'Build Web Solution'
          inputs:
            solution: 'src/**/*.sln'
            msbuildArgs: '/p:DeployOnBuild=true;PublishProfile=Release'
            platform: '$(buildPlatform)'
            configuration: '$(buildConfiguration)'

        - task: VSTest@2
          displayName: 'Test Assemblies'
          inputs:
            runInParallel: false
            platform: '$(buildPlatform)'
            configuration: '$(buildConfiguration)'
            testSelector: testAssemblies
            testAssemblyVer2: |
              **\\$(buildConfiguration)\\*.UnitTests.dll
              !**\\obj\\**
            codeCoverageEnabled: true
            searchFolder: '$(System.DefaultWorkingDirectory)'
            testRunTitle: 'Test Assemblies'
            resultsFolder: '$(System.DefaultWorkingDirectory)\TestResults'

        - task: CodeCoverage-Format-Convertor@1
          inputs:
            ProjectDirectory: '$(System.DefaultWorkingDirectory)\TestResults'

        - task: OWASPDependencyCheck@0
          inputs:
            outputDirectory: '$(Common.TestResultsDirectory)/dependency-scan-results'
            scanDirectory: '$(Build.SourcesDirectory)'
            outputFormat: 'ALL'
            useSonarQubeIntegration: false    

        - task: SonarCloudAnalyze@1 
        - task: SonarCloudPublish@1
          inputs:
            pollingTimeoutSec: '300'

        - task: PublishTestResults@2
          displayName: 'Publish OWASP Results'
          inputs:
            testResultsFormat: JUnit
            testResultsFiles: '**/dependency-scan-results/*junit.xml'
            searchFolder: '$(Common.TestResultsDirectory)'
            testRunTitle: 'Dependency Check'

        - task: PublishSymbols@1
          displayName: 'Publish symbols'
          inputs:
            SearchPattern: '**\bin\**\*.pdb'
          continueOnError: true

        - task: CopyFiles@1
          displayName: 'Copy Files to: $(build.artifactstagingdirectory)'
          inputs:
            SourceFolder: '$(build.sourcesdirectory)'
            Contents: |
              **\*.codedui\bin\$(BuildConfiguration)\**
              **\*.integrationtests\bin\$(BuildConfiguration)\**
              **\*.seleniumtests\bin\$(BuildConfiguration)\**
              **\_publish\**
              **\*.dacpac
              **\azuredeploy*.json
            TargetFolder: '$(build.artifactstagingdirectory)'

        - task: PublishBuildArtifacts@1
          displayName: 'Publish Artifact: ARM'
          inputs:
            PathtoPublish: '$(build.artifactstagingdirectory)/FabrikamEnv'
            ArtifactName: ARM
    
        - task: PublishBuildArtifacts@1
          displayName: 'Publish Artifact: WebSitePackages'
          inputs:
            ArtifactName: WebSitePackages
            PathtoPublish: '$(build.artifactstagingdirectory)/Src'
        - task: PublishBuildArtifacts@1
          displayName: 'Publish Artifact: WIKITemplates'
          inputs:
            ArtifactName: WIKITemplates
            PathtoPublish: '$(build.sourcesdirectory)/WIKIReleaseNotesTemplate.md'
      - job: 'Release_Notes'
        pool:
          vmImage: 'windows-latest'
        steps:
        - task: GitVersion@5
          inputs:
            versionSpec: '5.x'
            useConfigFile: true
            configFilePath: '$(System.DefaultWorkingDirectory)/GitVersion.yml'
        - task: XplatGenerateReleaseNotes@3
          displayName: 'Generate build release notes'
          inputs:
            outputfile: '$(build.artifactstagingdirectory)/ReleaseNotes.md'
            templateLocation: 'File'
            templatefile: '$(build.sourcesdirectory)/BuildReleaseNotesTemplate.md'
            dumpPayloadToConsole: false
            dumpPayloadToFile: false
            replaceFile: True
            getParentsAndChildren: False
            getAllParents: False
            getIndirectPullRequests: False
        - task: PublishBuildArtifacts@1
          displayName: 'Publish Artifact: ReleaseNotes'
          inputs:
            ArtifactName: ReleaseNotes
            PathtoPublish: '$(build.artifactstagingdirectory)/ReleaseNotes.md'
  
  - stage: Integration
    jobs:
    - deployment: ARM_Provisioning
      timeoutInMinutes: 0
      environment: 'Integration'
      variables:
      - group: Integration
      pool:
        vmImage: 'windows-latest'
      strategy:
        runOnce:
          deploy:
            steps:
            - template: YAMLTemplates\ProvisionUsingARM.yml
              parameters:
                version: $(Build.BuildNumber)
                template: '$(Pipeline.Workspace)/ARM/Templates/WebSiteSQLDatabase.json'
                AzureResourceGroup: $(AzureResourceGroup)

    - deployment: Web_Deployment
      timeoutInMinutes: 0
      dependsOn: ARM_Provisioning
      environment: 'Integration'
      variables:
      - group: Integration
      pool:
        vmImage: 'windows-latest'
      strategy:
        runOnce:
          deploy:
            steps:
            - template: YAMLTemplates\DeployWebSite.yml
              parameters:
                sourcePath: '$(Pipeline.Workspace)/WebSitePackages/FabrikamFiber.Web/_publish'
                filePattern: FabrikamFiber.Web.SetParameters.xml
                Sitename: '$(Sitename)'
                secretTokens: 'SQLPassword:$(SQLPassword)'
                DacpacFile: '$(Pipeline.Workspace)/WebSitePackages/FabrikamFiber.Database/bin/Release/FabrikamFiber.Database.dacpac'

    - deployment: Web_Test
      timeoutInMinutes: 0
      dependsOn: Web_Deployment
      environment: 'Integration'
      variables:
      - group: Integration
      pool:
        vmImage: 'windows-latest'
      strategy:
        runOnce:
          deploy:
            steps:
            - template: YAMLTemplates\TestWebSite.yml
              parameters:
                IntSourcePath: '$(Pipeline.Workspace)/WebSitePackages/FabrikamFiber.Web.IntegrationTests/bin/Release/'
                IntFilePattern: FabrikamFiber.Web.IntegrationTests.dll.config
                UxSourcePath: '$(Pipeline.Workspace)/WebSitePackages/FabrikamFiber.Web.SeleniumTests/bin/Release/'
                UxFilePattern: FabrikamFiber.Web.SeleniumTests.dll.config
    - deployment: ARM_Tidy_Up
      timeoutInMinutes: 0
      dependsOn: Web_Test
      environment: 'Integration'
      variables:
      - group: Integration
      pool:
        vmImage: 'windows-latest'
      strategy:
        runOnce:
          deploy:
            steps:
            - template: YAMLTemplates\RemoveUsingARM.yml
              parameters:
                AzureResourceGroup: $(AzureResourceGroup)

  - stage: QA
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    jobs:
    - deployment: ARM_Provisioning
      timeoutInMinutes: 0
      environment: 'QA'
      variables:
      - group: QA
      pool:
        vmImage: 'windows-latest'
      strategy:
        runOnce:
          deploy:
            steps:
            - template: YAMLTemplates\ProvisionUsingARM.yml
              parameters:
                version: $(Build.BuildNumber)
                template: '$(Pipeline.Workspace)/ARM/Templates/WebSiteSQLDatabase.json'
                AzureResourceGroup: $(AzureResourceGroup)

    - deployment: Web_Deployment
      timeoutInMinutes: 0
      dependsOn: ARM_Provisioning
      environment: 'QA'
      variables:
      - group: QA
      pool:
        vmImage: 'windows-latest'
      strategy:
        runOnce:
          deploy:
            steps:
            - template: YAMLTemplates\DeployWebSite.yml
              parameters:
                sourcePath: '$(Pipeline.Workspace)/WebSitePackages/FabrikamFiber.Web/_publish'
                filePattern: FabrikamFiber.Web.SetParameters.xml
                Sitename: '$(Sitename)'
                secretTokens: 'SQLPassword:$(SQLPassword)'
                DacpacFile: '$(Pipeline.Workspace)/WebSitePackages/FabrikamFiber.Database/bin/Release/FabrikamFiber.Database.dacpac'

            - template: YAMLTemplates\WIKIReleaseNotes.yml
              parameters:
                version: $(Build.BuildNumber)
                template: '$(Pipeline.Workspace)/WIKITemplates/WIKIReleaseNotesTemplate.md'
  

  - stage: Prod
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    jobs:
    - deployment: ARM_Provisioning
      timeoutInMinutes: 0
      environment: 'Prod'
      variables:
      - group: Prod
      pool:
        vmImage: 'windows-latest'
      strategy:
        runOnce:
          deploy:
            steps:
            - template: YAMLTemplates\ProvisionUsingARM.yml
              parameters:
                version: $(Build.BuildNumber)
                template: '$(Pipeline.Workspace)/ARM/Templates/WebSiteSQLDatabase.json'
                AzureResourceGroup: $(AzureResourceGroup)

    - deployment: Web_Deployment
      timeoutInMinutes: 0
      dependsOn: ARM_Provisioning
      environment: 'Prod'
      variables:
      - group: Prod
      pool:
        vmImage: 'windows-latest'
      strategy:
        runOnce:
          deploy:
            steps:
            - template: YAMLTemplates\DeployWebSite.yml
              parameters:
                sourcePath: '$(Pipeline.Workspace)/WebSitePackages/FabrikamFiber.Web/_publish'
                filePattern: FabrikamFiber.Web.SetParameters.xml
                Sitename: '$(Sitename)'
                secretTokens: 'SQLPassword:$(SQLPassword)'
                DacpacFile: '$(Pipeline.Workspace)/WebSitePackages/FabrikamFiber.Database/bin/Release/FabrikamFiber.Database.dacpac'
            - template: YAMLTemplates\WIKIReleaseNotes.yml
              parameters:
                version: $(Build.BuildNumber)
                template: '$(Pipeline.Workspace)/WIKITemplates/WIKIReleaseNotesTemplate.md'
            - task: tagBuildOrRelease@0
              inputs:
                type: 'Build'
                tags: '$(build.buildnumber)'
            - task: BuildRetensionTask@2
              inputs:
                mode: 'Prime'
                keepForever: true
                usePSCore: False