name: Reuseable workflow to deploy to Azure resource group

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
        
jobs:
  Deploy:
    runs-on: windows-latest
    environment:
      name: ${{ inputs.environment }}
    steps:
    - name: Download ARM Build Artifact
      uses: actions/download-artifact@v3.0.1
      id: arm-download
      with:
        # Artifact name
        name: ARM
        path: ./ARM

    - name: Download Web Deploy Solution Build Artifact
      uses: actions/download-artifact@v3.0.1
      with:
        # Artifact name
        name: 'Webdeploy-Package'
        path: ./WebDeploy

    - name: Azure Login
      uses: Azure/login@v1.4.6
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}     

    - name: Ensure Azure Resource Group is created
      run: |
        $rgexists = az group exists -n ${{ secrets.AzureResourceGroup}}
        if ($rgexists -eq 'false') {
          az group create --name ${{ secrets.AzureResourceGroup}} --location ${{ secrets.AZURELOCATION }}
          write-host "Creating Azure Resource Group"
        }
      shell: pwsh 

    - name: Deploy Azure Resource Manager (ARM) Template
      uses: Azure/arm-deploy@v1.0.8
      with:
        scope: 'resourcegroup'
        subscriptionId: ${{ secrets.AZURESUBSCRIPTION }}
        region: ${{ secrets.AZURELOCATION }}
        resourceGroupName: ${{ secrets.AzureResourceGroup}}
        template: '.\\ARM\\Templates\\WebSiteSQLDatabase.json' 
        deploymentMode: 'Incremental'
        parameters: 'hostingPlanName="${{ secrets.HostingPlanName}}" hostingPlanSku="${{ secrets.hostingPlanSku}}" hostingPlanCapacity="${{ secrets.hostingPlanCapacity}}" webSiteName="${{ secrets.Sitename}}" sqlserverName="${{ secrets.sqlservername}}" sqlServerAdminLogin="${{ secrets.SQLUser}}" sqlServerAdminPassword="${{ secrets.SQLPassword}}" databaseName="${{ secrets.databasename}}" collation="SQL_Latin1_General_CP1_CI_AS" edition="Standard" maxSizeBytes="1073741824" requestedServiceObjectiveName="S0" appInsightsLocation="${{ secrets.AzureLocation}}" VersionTag="1.2.3"" DeploymentDate="2022-10-28"" EnvironmentTag="tag"'

    - name: Replace tokens in configuration file
      run: |
        $file = ".\WebDeploy\FabrikamFiber.Web.SetParameters.xml"
        $filecontent = Get-Content -Path $file
        $filecontent = $filecontent -replace "__Sitename__", "${{secrets.Sitename}}" 
        $filecontent = $filecontent -replace "__LOCATION__", "${{secrets.LOCATION}}" 
        $filecontent = $filecontent -replace "__GENERATETESTDATA__", "${{secrets.GENERATETESTDATA}}" 
        $filecontent = $filecontent -replace "__sqlservername__", "${{secrets.sqlservername}}" 
        $filecontent = $filecontent -replace "__databasename__", "${{secrets.databasename}}" 
        $filecontent = $filecontent -replace "__SQLUser__", "${{secrets.SQLUser}}" 
        $filecontent = $filecontent -replace "__SQLPassword__", "${{secrets.SQLPassword}}"
        $filecontent | Out-File $file
        cat $file          
      shell: pwsh

    - name: 'Deploy web site with MSDeploy'
      run: |
        $publishProfile = az webapp deployment list-publishing-profiles --resource-group ${{ secrets.AzureResourceGroup}} --name ${{ secrets.Sitename }} --query "[?publishMethod=='MSDeploy']" --subscription "${{ secrets.AZURESUBSCRIPTION}}" | convertfrom-json
        $shortPath = (New-Object -ComObject Scripting.FileSystemObject).GetFolder("./WebDeploy").ShortPath  
        & "C:\Program Files\IIS\Microsoft Web Deploy V3\msdeploy.exe" -verb:sync -source:package="$shortpath\FabrikamFiber.Web.zip" -setParamFile:"$shortpath\FabrikamFiber.Web.SetParameters.xml" -dest:auto,ComputerName="https://$($publishProfile.msdeploySite).scm.azurewebsites.net/msdeploy.axd?site=$($publishProfile.msdeploySite)",UserName=$($publishProfile.userName),Password=$($publishProfile.userPWD),AuthType='Basic' -verbose -debug -disableLink:AppPoolExtension -disableLink:ContentExtension -disableLink:CertificateExtension
      shell: pwsh