name: Reuseable workflow to publish ARM to Azure resource group
on:
  workflow_call:
  inputs:
      environment:
        required: true
        type: string
jobs:
  Integration-ARM:
    runs-on: windows-latest
    environment:
      name: ${{ inputs.environment }}
    steps:
    - name: Download ARM Build Artifact
      uses: actions/download-artifact@v3.0.1
      id: arm-download
      with:
        # Artifact name
        name: ARM
        path: ./ARM

    - name: Azure Login
      uses: Azure/login@v1.4.6
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}     

    - name: Ensure Azure Resource Group is created
      run: |
        $rgexists = az group exists -n ${{ secrets.AzureResourceGroup}}
        if ($rgexists -eq 'false') {
          az group create --name ${{ secrets.AzureResourceGroup}} --location ${{ secrets.AZURELOCATION }}
          write-host "Creating Azure Resource Group"
        }
      shell: pwsh 

    - name: Deploy Azure Resource Manager (ARM) Template
      uses: Azure/arm-deploy@v1.0.8
      with:
        scope: 'resourcegroup'
        subscriptionId: ${{ secrets.AZURESUBSCRIPTION }}
        region: ${{ secrets.AZURELOCATION }}
        resourceGroupName: ${{ secrets.AzureResourceGroup}}
        template: '.\\ARM\\Templates\\WebSiteSQLDatabase.json' 
        deploymentMode: 'Incremental'
        parameters: 'hostingPlanName="${{ secrets.HostingPlanName}}" hostingPlanSku="${{ secrets.hostingPlanSku}}" hostingPlanCapacity="${{ secrets.hostingPlanCapacity}}" webSiteName="${{ secrets.Sitename}}" sqlserverName="${{ secrets.sqlservername}}" sqlServerAdminLogin="${{ secrets.SQLUser}}" sqlServerAdminPassword="${{ secrets.SQLPassword}}" databaseName="${{ secrets.databasename}}" collation="SQL_Latin1_General_CP1_CI_AS" edition="Standard" maxSizeBytes="1073741824" requestedServiceObjectiveName="S0" appInsightsLocation="${{ secrets.AzureLocation}}" VersionTag="1.2.3"" DeploymentDate="2022-10-28"" EnvironmentTag="tag"'
