name: Reuseable workflow to do integration tests of deployed website

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
        
jobs:
  Integration-APITests:
    runs-on: windows-latest
    environment:
      name: ${{ inputs.environment }}
    # permissions needed to allow test tesults to be published 
    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write
    steps:
    - name: Download Integration Test Artifact
      uses: actions/download-artifact@v4
      with:
        # Artifact name
        name: 'Integration-Tests'
        path: ./Tests
    - name: Replace tokens in configuration file
      run: |
        $file = ".\Tests\FabrikamFiber.Web.IntegrationTests.dll.config"
        $filecontent = Get-Content -Path $file
        $filecontent = $filecontent -replace "__weburi__", "${{secrets.weburi}}" 
        $filecontent | Out-File $file
        cat $file          
      shell: pwsh        

    - name: Run Integration API Tests
      run: |
        & "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\Extensions\TestPlatform\vstest.console.exe" ".\\Tests\\*Tests*.dll" --logger:trx --ResultsDirectory:IntegrationTests-Logs --Enablecodecoverage

    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action/composite@v2
      if: always()
      with:
        trx_files: "**/IntegrationTests-Logs/**/*.trx"
        comment_title: "API Test Results"

  Integration-UXTests:
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment }}
    # permissions needed to allow test tesults to be published 
    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write
    steps:
    - name: Checkout project
      uses: actions/checkout@v5   
    
    - uses: actions/setup-node@v5
      with:
        node-version: lts/*
        
    - name: Switch to test directory
      run: cd src/FabrikamFiber.Web.Playwright

    - name: Install dependencies
      run: npm ci
         
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    
    - name: Copy injectable UX config file
      run: |
        Copy-Item "./Tests/AppSettings.Release.json" -Destination "./Tests/AppSettings.json" -force -verbose
      shell: pwsh   

    - name: Replace tokens in configuration file
      run: |
        $file = "./Tests/AppSettings.json"
        $filecontent = Get-Content -Path $file
        $filecontent = $filecontent -replace "__weburi__", "${{secrets.weburi}}" 
        $filecontent | Out-File $file
        cat $file          
      shell: pwsh        

    - name: Run Playwright tests
      run: npx playwright test
      
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
