name: Living The Dream Tester

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  # Path to the solution file relative to the root of the project.
  SOLUTION_FILE_PATH: ./src/

  # Configuration type to build.
  # You can convert this to a build matrix if you need coverage of multiple configuration types.
  # https://docs.github.com/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
  BUILD_CONFIGURATION: Release

permissions:
  contents: read

jobs:

  Build-Solution:
    runs-on: windows-latest

    # permissions needed to allow test tesults to be published 
    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: '0'

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Restore NuGet packages
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: nuget restore ${{env.SOLUTION_FILE_PATH}}

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v3.0.0
      with:
        versionSpec: '5.x'

    - name: Determine Version
      id:   gitversion
      uses: gittools/actions/gitversion/execute@v3.0.0
      with:
        useConfigFile: true

    - name: Set project versions
      id: update
      uses: vers-one/dotnet-project-version-updater@v1.2
      with:
        file: |
          "**/AssemblyInfo.cs"
        version:  ${{ steps.gitversion.outputs.assemblySemVer  }}

    - name: Build Solution
      working-directory: ${{env.GITHUB_WORKSPACE}}
      # Add additional options to the MSBuild command line here (like platform or verbosity level).
      # See https://docs.microsoft.com/visualstudio/msbuild/msbuild-command-line-reference
      run: msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} /p:DeployOnBuild=true /p:PublishProfile=${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_FILE_PATH}}

    - name: Run Unit Tests
      run: |
        & "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\Extensions\TestPlatform\vstest.console.exe" ".\src\**\bin\${{env.BUILD_CONFIGURATION}}\*UnitTests*.dll" --logger:trx --ResultsDirectory:UnitTests-Logs --Enablecodecoverage
 
    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action/composite@v2
      if: always()
      with:
        trx_files: "**/UnitTests-Logs/**/*.trx"
        comment_title: "Unit Test Results"
 
    - name: Upload Web Deploy Build Artifact
      uses: actions/upload-artifact@v3.1.1
      with:
        # Artifact name
        name: 'Webdeploy-Package'
        path: '.\\src\\FabrikamFiber.Web\\_publish'

    - name: Upload Integration Tests Build Artifact
      uses: actions/upload-artifact@v3.1.1
      with:
        # Artifact name
        name: 'Integration-Tests'
        path: '.\\src\\FabrikamFiber.Web.IntegrationTests\\bin\\${{env.BUILD_CONFIGURATION}}\'

    - name: Upload UX Tests Build Artifact
      uses: actions/upload-artifact@v3.1.1
      with:
        # Artifact name
        name: 'UX-Tests'
        path: '.\\src\\FabrikamFiber.Web.UXTests\\bin\\${{env.BUILD_CONFIGURATION}}\\net8.0'

  Integration-Deploy:
    uses: ./.github/workflows/Deploy-Job.yml
    with:
      environment: Integration
    secrets: inherit
    needs: [Build-Solution, Build-ARM]

  Integration-Tests:
    uses: ./.github/workflows/IntegrationTests-Job.yml
    with:
      environment: Integration
    secrets: inherit
    # permissions needed to allow test tesults to be published 
    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write
    needs: [Build-Solution]
  
